{% extends 'index.html' %}

{% block results %}
  <div id="results">
    <h2 class="centered extraspaced">Results for {{ domain }}</h2>
    <hr>
    <div id="google-safe-browsing">
      <h3><a href="{{ sb.page }}" target="_blank">Google Safe Browsing &ndash; {{ sb.url }}</a></h3>
      <h4>Status listing:</h4>
      {{ sb.status|safe }}
      <h4>Google's summary:</h4>
      {{ sb.summary|safe }}
      <h4>Distributed malware?</h4>
      {{ sb.intermediary|safe }}
      <h4>Hosted malware?</h4>
      {{ sb.hosted|safe }}
    </div>
    <hr>
    <div id="norton-safe-web">
      <h3 id="sw-page"></h3>
      <h4>Rating:</h4>
      <blockquote id="sw-ico">Loading...</blockquote>
      <h4>Summary:</h4>
      <blockquote id="sw-summary">Loading...</blockquote>
      <h4>Community rating (out of 5):</h4>
      <blockquote id="sw-community">Loading...</blockquote>
    </div>
    <hr>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>var site = "{{ site|safe }}";</script>
  <script src="{{ url_for('static', filename='parse.js') }}?v=3"></script>
{% endblock %}
