{% extends '_layout.html' %}

{% block title %}Site Safety Checker{% endblock %}

{% block content %}
  <div class="container">
    <div class="centered top">
      <h1>Site Safety Checker</h1>
      <p>Get a single-page summary of a website's safety from Google Safe Browsing and Norton Safe Web.</p>
      {% if warning %}
        <p class="warning">Please enter a URL that can be processed by both Google Safe Browsing and Norton Safe Web.</p>
      {% endif %}
      <form action="{{ url_for('check') }}" class="pure-form" id="mainform" novalidate>
        <input type="url" name="site" placeholder="URL" autofocus autocorrect="off" autocapitalize="none" spellcheck="false">
        <input type="submit" class="pure-button" value="Look up" id="submit">
      </form>
    </div>
    {% block results %}{% endblock %}
    <div class="centered">
      <p><a href="https://github.com/ahuanguchi/flask-apps/tree/master/sitesafety" target="_blank">Source code</a></p>
      <p><a href="http://ahuanguchi.github.io/pages/about.html" target="_blank">About me</a></p>
    </div>
  </div>
  <script src="{{ url_for('static', filename='loading.js') }}?v=1"></script>
{% endblock %}
