html {
  background-color: #f7f7f7;
  font-family: "Droid Sans", Arial, sans-serif;
}

a {
  color: #008fcf;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
}

hr {
  margin-top: 20px;
}

ul {
  padding-left: 20px;
}

#submit {
  border: 1px solid #bfbfbf;
}

.centered {
  text-align: center;
}

.extraspaced {
  margin-top: 40px;
}

.warning {
  color: #bf0000;
}

.pure-form input:focus:invalid {
  border-color: #129FEA;
  color: inherit;
}

.container {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 568px) {
  .container {
    width: 550px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-height: 550px) {
  .top {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 480px) {
  input[name="site"] {
    margin-right: auto;
    margin-left: auto;
  }
}

