html {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

a {
  color: #003fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 20px;
}

.centered {
  text-align: center;
}

.extraspaced {
  margin-top: 40px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 568px) {
  .container {
    width: 550px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
